#accDropDown{
    box-shadow: 0px 3px 7px rgb(164 174 183 /0.4);
}
.nav-submenu{
    box-shadow: 0px 2px 10px rgb(191 178 178 / 30%);
    border: 2px solid #e6e3e3;
}
.subCategory ul{
    display: none;
}
.text-color{
    color: #ff4c3b;
}
.subCategory:hover > ul{
    display: block;
 }

 /* when screen size > 1200px  */
@media screen and (min-width: 1200px) {
    .subCategory ul{
        display: none;
        position: absolute; 
        top: 60px;
    }
    .subCategory:hover ul{
       display: block;
    }
    .subCategory{
        cursor: pointer;

    }
    .subCategory ul div{
        background-color: white;
        position: relative;
        top:-60px; 
        left:198px;
        box-shadow: 0px 2px 1px rgb(191 178 178 / 30%);
        border: 2px solid #e6e3e3;

    }
    
   
    
  }
